<% # A single row of the All Movies table %>
<tr>
  <td>
    <%= movie_counter + 1 %>
  </td>
  <td>
    <%= movie.title %>
  </td>
  <td>
    <%= movie.rating %>
  </td>
  <td>
    <%= movie.release_date %>
  </td>
  <td>
    <%= link_to "More about #{movie.title}", movie_path(movie) %>
  </td>
</tr>