<% # in app/views/movies/show.html.erb %>
<h2>Details about <%= @movie.title %></h2>
<ul id="details">
  <li>
    Rating:
    <%= @movie.rating %>
  </li>
  <li>
    Released on:
    <%= @movie.release_date.strftime("%B %d, %Y") %>
  </li>
</ul>
<h3>Description:</h3>
<p id="description">
  <%= @movie.description %>
</p>
<%= link_to 'Edit info', edit_movie_path(@movie) %>
<%= link_to 'Delete', movie_path(@movie), :method => :delete %>
<%= link_to 'Add Review', new_movie_review_path(@movie) %>
<%= link_to 'Back to movie list', movies_path %>