<!DOCTYPE html>
<html>
  <head>
    <title>RottenPotatoes!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% # this goes just inside %body: %>
    <% if flash[:notice] %>
      <div class="message" id="notice">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:warning] %>
      <div class="message" id="warning">
        <%= flash[:warning] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>